html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0;
}

.grass, .sky, .road {
    position: relative;
}

.sky {
    height: 40%;
    background: skyblue;
}

.grass {
    height: 30%;
    background: seagreen;
}

.road {
    height: 30%;
    background: dimgrey;
    box-sizing: border-box;
    border-top: 10px solid grey;
    border-bottom: 10px solid grey;
    width: 100%;
}

.lines {
    box-sizing: border-box;
    border: 5px dashed #ffffff;
    width: 100%;
    height: 0;
    position: absolute;
    top: 45%;
}

/* animowane elementy */

.mario {
    position: absolute;
    top: -40px;
    left: 0;
    animation-name: drive;
    animation-duration: 5s;
    animation-fill-mode: both;
    /*animation-delay: 2s;*/
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0,.77,1,.28);
}

.luigi {
    position: absolute;
    top: 100px;
    left: 0;
    animation-name: drive;
    animation-duration: 7s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    /*animation-direction: reverse;*/
    animation-timing-function: cubic-bezier(0,.77,1,.28);
}

.cloud {
    position: absolute;

}

.cloud:nth-child(1){
    width: 200px;
    top: 120px;
    opacity: 0.5;
    animation: wind 60s linear infinite reverse;
}

.cloud:nth-child(2){
    width: 300px;
    top: 50px;
    opacity: 0.9;
    animation: wind 50s linear infinite reverse;
}

.cloud:nth-child(3){
    width: 150px;
    top: 10px;
    opacity: 0.3;
    animation: wind 80s linear infinite reverse;
}

.cloud:nth-child(4){
    width: 250px;
    top: 100px;
    opacity: 0.7;
    animation: wind 70s linear infinite reverse;
}

.cloud:nth-child(5){
    width: 400px;
    top: 20px;
    animation: wind 40s linear infinite reverse;
}

/* animacje */

@keyframes drive {
    from {
        transform: translateX(-200px);
    } to {
        transform: translateX(2300px);
    }
}

@keyframes wind {
    from{
        left: -400px;
    } to {
        left: 100%;
    }
}













/* do 4 odcinka */

/*body{*/
    /*background: lightskyblue;*/
    /*text-align: center;*/
/*}*/

/*.wrapper{*/
    /*width: 100%;*/
    /*padding: 20px;*/
    /*box-sizing: border-box;*/
/*}*/

/*img{*/
    /*!*transform: translate(-200px, 200px);*!*/
    /*!*transform: scale(2,0.5);*!*/
    /*!*transform: rotateZ(-40deg) translateY(200px) scale(2);*!*/
/*}*/

/*.circle{*/
    /*width: 100px;*/
    /*padding: 50px 0;*/
    /*line-height: 0;*/
    /*margin: 60px auto;*/
    /*background: deeppink;*/
    /*color: white;*/
    /*border-radius: 50px;*/
    /*cursor: pointer;*/
    /*transition: background 1s, transform 1s 1s ease;*/
    /*!*transition: 1s;*!*/
/*}*/

/*.circle:hover{*/
    /*background: purple;*/
    /*transform: rotate(360deg);*/
/*}*/