<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/assets/styles.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<% include partials/nav.ejs %>
<h1>contact page !</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    At, consequatur cumque nulla numquam repudiandae
    sed tempore.</p>
</body>
</html>