<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/assets/styles.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<% include partials/nav.ejs %>
<h1>contact success !</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    At, consequatur cumque nulla numquam repudiandae
    sed tempore.</p>
<p>thanks for getting in touch!</p>
<p>you contacted <%= data.who %> in the <%= data.depart %> department</p>
<p>we will reply to you at <%= data.email %></p>
<p></p>
<div>

</div>
</body>
</html>