<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body{
            background: skyblue;
            font-family: Verdana, sans-serif;
            color: white;
            padding: 30px;
        }
        h1{
            font-size: 58px;
            text-transform: uppercase;
            letter-spacing: 2px;
            text-align: center;
        }
        h2{
            font-size: 48px;
            text-transform: uppercase;
            letter-spacing: 2px;
            text-align: center;
        }
        p{
            font-size: 36px;
            text-align: center;
        }
        li{
            font-size: 46px;
            text-align: center;
            list-style-type: hiragana;
        }
        div{
            margin: 0 auto;
            width: 200px;
        }
    </style>
</head>
<body>
<% include partials/nav.ejs %>
    <h1>welcome to the profile of <%= person %></h1>
    <p>
        <strong> Age: </strong><%= data.age %>
    </p>
    <p>
        <strong> Job: </strong><%= data.job %>
    </p>
    <h2>hobbies</h2>
        <div>
            <ul>
                <% data.hobbies.forEach(function (t) { %>
                    <li><%= t %></li>
                <% });%>
            </ul>
        </div>
</body>
</html>
