<html>
    <head>
        <title>todo list</title>
        <script
                src="https://code.jquery.com/jquery-1.12.4.min.js"
                integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
                crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/assets/styles.css" type="text/css" />
    </head>
    <body>
    <h1>My TODO List</h1>
        <div id="todo-table">
            <form>
                <input type="text" name="item" placeholder="Add new item ... " required />
                <button type="submit">Add Item</button>
            </form>

            <ul>
                <li>item1</li>
                <li>item2</li>
                <li>item3</li>
                <li>item4</li>
                <li>item5</li>
            </ul>
        </div>
    </body>
</html>